{% extends 'FrontBundle::_layout/default.html.twig' %}

{% block title %}Promofarma Trends | search{% endblock %}

{% block hero_title %}
    <input class="input is-large" type="text" placeholder="Search a topic">
{% endblock %}

{% block body %}
    <div class="box">
        <article class="media">
            <div class="media-content">
                <div class="content">
                    <p>
                        <strong>Result box</strong>
                        <br>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa fringilla egestas. Nullam condimentum luctus turpis.
                    </p>
                </div>
            </div>
        </article>
    </div>
{% endblock %}