<section class="hero is-success is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Promofarma Trends
            </h1>
            <h2 class="subtitle">
                Trending topics
            </h2>
        </div>
    </div>
</section>