<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        {% include 'FrontBundle::_includes/head.html.twig' %}
    </head>
    <body>
        <!-- Navigation -->
        {% include 'FrontBundle::_includes/header.html.twig' %}

        <!-- Main section -->
        {% block react %}{% endblock %}

        <!-- Scripts -->
        {% block javascripts %}
            <script src="{{ asset('bundles/front/js/app.min.js') }}"></script>
        {% endblock %}
    </body>
</html>
