<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        <!-- Bulma css framework -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.2/css/bulma.min.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        {% include 'FrontBundle::includes/nav.html.twig' %}
        {% include 'FrontBundle::includes/hero.html.twig' %}

        <section class="section">
            <div class="container">
                {% block body %}{% endblock %}
            </div>
        </section>

        {% include 'FrontBundle::includes/footer.html.twig' %}

        {% block javascripts %}{% endblock %}
    </body>
</html>
