{% extends 'FrontBundle::layout/default.html.twig' %}

{% block title %}Promofarma Trends | Home{% endblock %}

{% block body %}
<div class="columns">
    <div class="column">
        {% include 'FrontBundle::includes/card.html.twig' %}
    </div>
    <div class="column">
        {% include 'FrontBundle::includes/card.html.twig' %}
    </div>
    <div class="column">
        {% include 'FrontBundle::includes/card.html.twig' %}
    </div>
</div>
{% endblock %}
