{% extends 'FrontBundle::layout/default.html.twig' %}

{% block title %}Promofarma Trends | search{% endblock %}

{% block body %}
    <div class="field has-addons">
        <p class="control is-expanded">
            <input class="input" type="text" placeholder="Type a topic to search and hit Enter.">
        </p>
    </div>
    <br>
    <div class="box">
        <article class="media">
            <div class="media-content">
                <div class="content">
                    <p>
                        <strong>Result box</strong>
                        <br>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa fringilla egestas. Nullam condimentum luctus turpis.
                    </p>
                </div>
            </div>
        </article>
    </div>
{% endblock %}